src/libp2p*

__pycache__

.vscode/*

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

temp_file*


venv
.vscode/settings.json


logs

.env

registry.db
apps_temp.json
apps.json
api.py
nodes.json
